// Specific CSS for your home-page
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

.square {
  height: 40px;
}

.NW {
  border-top: 5px solid black;
  border-left: 5px solid black;
}

.N {
  border-top: 5px solid black;
}

.W {
  border-left: 5px solid black;
}
