// Specific CSS for your home-page
.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 10px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

.square {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NW {
  border-top: 5px solid black;
  border-left: 5px solid black;
}

.N {
  border-top: 5px solid black;
}

.W {
  border-left: 5px solid black;
}

.player-btn {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: black;
}

.target-btn {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: green;
}
